// Colors
$black: #000;
$white: #fff;
$primary: #d63a2f;
$secondary: #a42003;
$gray: #ccc;

// Fonts
$font-lora: 'Lora', serif;
$font-poppins: 'Poppins', sans-serif;
$font-nunito: 'Nunito', sans-serif;

// Sizes
$header-height: 78px;
$hero-banner-height: 1080px;
$product-img-height: 460px;
